[submodule "themes/re-terminal"]
	path = themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
